<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ data.heading }}</title>
    </head>
    <body bgcolor="#F7F7F7" text="#616161" style="margin: 0px; padding: 0px;">
        <style>
            @media only screen and (max-width:600px) {
                #bodyCont {
                    width: 100% !important
                }
            }
    
            @media only screen and (max-width:450px) {
                .content__spacer {
                    width: 20px !important
                }
                #footer__logo {
                    text-align: center;
                }
                #footer__logo img{
                    margin-right: 0px !important;
                }
            }
        </style>